.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}
